

/* ====================================== */
            /* common area */
/* =======================================*/
.btn {
   background: linear-gradient(194deg,rgba(145, 0, 248, 1) 27%, rgba(251, 9, 180, 1) 62%, rgba(247, 233, 63, 1) 82%);
   padding: 8px 18px;
   transition: 1s;
}
.btn:hover {
    transform: scale(1.10);
}

hr {
    border: none;
    border: 1px solid #301a4d;
}

.common-width {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

a:hover {
    color:rgb(210, 46, 210);
}


header {
    padding: 1rem 0;
    box-shadow: 1px 1px 8px rgb(61, 13, 109) !important;


}
/* ====================================== */
            /* hero section */
/* =======================================*/
.hero-area {
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.microphone {
    transform: translate(-50%, -50%);
}
.hero-circle {
    transform: scale(0.85);
}

.hero-area .new-btn {
    padding: 4px 12px;
}
/* ====================================== */
            /* footer area */
/* =======================================*/

footer {
    background-image: url('./assets/footer-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}