*{
    margin: 0;
    padding: 0;
}

.btn {
   background: linear-gradient(194deg,rgba(145, 0, 248, 1) 27%, rgba(251, 9, 180, 1) 70%, rgba(247, 233, 63, 1) 92%);
   padding: 8px 18px;
   transition: 1s;
}
.btn:hover {
    transform: scale(1.10);
}

.hero-area {
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    height: 550px;
    /* background-position: center; */
    background-repeat: no-repeat;
}
header {
    padding: 1rem 0;
    box-shadow: 1px 1px 8px rgb(61, 13, 109) !important;
}


.hero-area .new-btn {
    padding: 4px 12px;
}
