

/* ====================================== */
            /* common area */
/* =======================================*/
.btn {
   background: linear-gradient(194deg,rgba(145, 0, 248, 1) 27%, rgba(251, 9, 180, 1) 62%, rgba(247, 233, 63, 1) 82%);
   padding: 8px 18px;
   transition: 1s;
}
.btn:hover {
    transform: scale(1.10);
}

.common-width {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    padding: 1rem 0;
    box-shadow: 1px 1px 8px rgb(61, 13, 109) !important;


}
/* ====================================== */
            /* hero section */
/* =======================================*/
.hero-area {
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.microphone {
    transform: translate(-50%, -50%);
}
.hero-circle {
    transform: scale(0.85);
}

.hero-area .new-btn {
    padding: 4px 12px;
}
